.body {
    color: black;
}

.Nav1 {
    border: black solid 2px;
}

.blogPost {
    color: black;
    background-color: cadetblue;
    margin-top: 8px;
}

.buttonA {
    background-color: lightblue;
    font-style: italic;
    text-decoration: dashed;
    font-size: medium;
    border: blue double medium;
}